.gradient {
    font-weight: 700;
    background-image: linear-gradient(135deg, color(display-p3 .6196078431 .4784313725 1 / 1) 0%, color(display-p3 .9960784314 .5450980392 .7333333333 / 1) 33.33%, color(display-p3 1 .7411764706 .4784313725 / 1) 66.67%, color(display-p3 .9725490196 .9176470588 .7647058824 / 1) 100%);;
    background-clip: text;
    color: transparent;
}

.background-dots {
    background-image: url(../../public/images/q-0e379a5f.png);
    position: absolute;
    z-index: 100;

    .background-dots-fill {
        mask-image: url(../../public/images/q-cc423fbc.png);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 100;

        div {
            width: 600px;
            height: 600px;
            overflow: hidden;
            display: flex;
            background-image: linear-gradient(135deg, color(display-p3 .6196078431 .4784313725 1 / 1) 0%, color(display-p3 .9960784314 .5450980392 .7333333333 / 1) 33.33%, color(display-p3 1 .7411764706 .4784313725 / 1) 66.67%, color(display-p3 .9725490196 .9176470588 .7647058824 / 1) 100%);
        }
    }
}

.hp1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;

    .hp1-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        max-width: 950px;
        position: relative;
        margin-top: 250px;
    }

    .hp1-title {
        text-align: center;
        font-size: 65px;
        font-weight: 600;
        z-index: 200;
    }

    .hp1-desc {
        color: lightgray;
        font-size: 16px;
        margin-top: 20px;
    }
    
    .center {
        width: 1250px;
        height: 600px;
        background-size: auto;
        scale: 0.5;

        .background-dots-fill {
            mask-size: auto;
        }
    }

    .c1 {
        left: 0px;
        top: -150px;
        rotate: 90deg;
    }
    
    .c2 {
        left: -315px;
        top: -290px;
        rotate: 270deg;
    }

    .side {
        width: 1450px;
        height: 725px;
        left: -245px;
        top: -100px;

        background-size: cover;

        .background-dots-fill {
            mask-size: cover;

            @keyframes side-background-dot-animation {

                0%, 90.001%, 100% {
                    transform: translateZ(0) translateY(600px);
                }

                90% {
                    transform: translateZ(0) translateY(-500px);
                }
            }

            div {
                transform: translateY(600px);
                animation: side-background-dot-animation 10s cubic-bezier(.6, .6, 0, 1) infinite;
            }
        }
    }

    .hp1-start-button {
        margin-top: 20px;
        background: linear-gradient(#121113, #121113) padding-box, linear-gradient(135deg, color(display-p3 .6196078431 .4784313725 1 / 1) 0%, color(display-p3 .9960784314 .5450980392 .7333333333 / 1) 33.33%, color(display-p3 1 .7411764706 .4784313725 / 1) 66.67%, color(display-p3 .9725490196 .9176470588 .7647058824 / 1) 100%) border-box;
        border-radius: 50em;
        border: 4px solid transparent;
        font-weight: 600;
        color: white;
        font-size: 16px;
        padding: 20px;
        z-index: 200;

        &:hover {
            background: linear-gradient(white, white) padding-box, linear-gradient(135deg, color(display-p3 .6196078431 .4784313725 1 / 1) 0%, color(display-p3 .9960784314 .5450980392 .7333333333 / 1) 33.33%, color(display-p3 1 .7411764706 .4784313725 / 1) 66.67%, color(display-p3 .9725490196 .9176470588 .7647058824 / 1) 100%) border-box;
        }
    }

    /*rgb(228, 228, 228)*/

    .hp1-start-button:active {
        transform: translateY(5px);
        box-shadow: 0 2px 0px inherit;
    }
}

.hp2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 380px;
    color: white;
    height: fit-content;

    .hp2-area {
        width: 60%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 350px;
        height: fit-content;
        display: flex;

        &:last-child {
            margin-bottom: 0;
        }

        .hp2-left {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            position: relative;

            .bd2 { 
                display: flex;
                width: 500px;
                height: 600px;
                
                position: absolute;
                top: -275px;
                left: -125px;
                
                transform: rotate(90deg);
 
                background-size: auto;
                background-position: 0 900px;
                scale: 0.5;
    
                .background-dots-fill {
                    mask-size: auto;
                    mask-position: 0 900px;
                }
            }

            .hp2-title {
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 45px;
                text-align: left;
            }

            .hp2-desc {
                font-size: 18px;
                color: #e2e8ffbf;
            }
        }
    }
}